
h1{
    font-size: 30px;
    color: yellow;
    background-color: rgb(55,126,128);
    text-align: center;
    height: 80px;
    padding-top: 30px;
}

.parent{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.child{
    margin: 5px;
}

img{
    height: 250px;
    width: 200px;
    margin-top: 30px;
}
